[Unit]
Description=Stall Monitor

[Service]
# Type=simple
Type=forking
EnvironmentFile=/etc/systemd/stalld.conf
ExecStart=/usr/bin/stalld $CLIST $AGGR $BP $BR $BD $THRESH $LOGGING $FG $PF

[Install]
WantedBy=multi-user.target
